.p {
    width: 100%;
    text-align: left;
}

.pc {
    display: block;
    clear: both;
    overflow: hidden;
    min-height: 200px;
    height: inherit;
    width: 100%;
    padding: 15px;
}

.p {
    width: 450px;
    height: 450px;
    overflow: hidden;
    padding: 0px;
    margin: 40px;
    float: left;
    left: 10%;
    position: relative;
}
.footer{
    position:fixed;
    bottom:0;
    left:40%;
}
.footer p{
    text-align:center;
    color:#ffffff;
}
